@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	background-color: rgb(234, 234, 234);
	color: rgb(52, 51, 51);
}

.dark {
	background-color: rgb(33, 32, 32);
	color: rgb(232, 231, 231);
}
