@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Color schema */
:root {
	background-color: rgb(191, 57, 57);
	color: rgb(228, 218, 218);
}

.dark {
	background-color: rgb(33, 32, 32);
	color: rgb(232, 231, 231);
}
